<form {{action 'guardar' on='submit'}}>
    Nombre {{input type="text" value=test.nombre}}
    Fecha {{input type="date" value=test.fecha}}
    <button{{action 'borrar' on='click'}}>Borrar</button>
    <button>Guardar</button>
</form>